<!-- Line below checks if have content called whole page (exercises index) -->
<!-- If so will be container-fluid class -->
<div class="<%= content_for?(:whole_page) ? 'container-fluid' : 'container' %>">
  <div class="row">
    <div class="col-mx-auto">
      <% flash.each do |key, message| %>
        <div class="text-center-alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>
  <%= yield %>
  <%= yield :whole_page %>
</div>
